/output
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
board/urussystem/telechips/Android-Image-Kitchen
board/urussystem/telechips/tools
